body {
    font-size: 16px;
}
.bg-occertimm {
    background-color: #90bbd7fa;
}
.grid-container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); /* Dos columnas en pantallas grandes */
    gap: 20px;
}


.main-container {
    --header: 120px;
    --footer: 441px;
    min-height: calc(100vh - var(--header) - var(--footer));
}

.grid {
    display: grid;
}
.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    position: sticky;
    top: 0;
}

td {
    padding: .75rem .4rem !important;
}
.translate-cicle {
    display: inline-flex;
    transform: translate(-10vw, 3rem);
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}
.swal2-modal {
    background-color: var(--bs-light) !important;
    width: auto;
    padding: 2.5rem;
}
.swal2-html-container p, .swal2-title {
    color: var(--bs-heading-color);
}
.swal2-actions {
    gap: 1rem;
}
iframe {
    width: 100% !important;
}
.WhatsAppLink {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.WhatsAppLink:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}