.container-profiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .container-profiles {
        grid-template-columns: 1fr;
    }
}