.Occertimm-toolbar button {
	background: transparent !important;
}
.toolbar {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	background: #f7f7f7;
}

.toolbar-button {
	border: none;
	background: none;
	font-size: 14px;
	margin-right: 5px;
	cursor: pointer;
}

.toolbar-button:hover {
	text-decoration: underline;
}

.DraftEditor-editorContainer {
	border: 1px solid #ddd;
	min-height: 150px;
	padding: .5rem;
}
